
html:root {
	--primary-50: #f2fdf9;
	--primary-100: #e6fcf3;
	--primary-200: #bff6e0;
	--primary-300: #99f1cd;
	--primary-400: #4de7a8;
	--primary-500: #00dc82;
	--primary-600: #00c675;
	--primary-700: #00844e;
	--primary-800: #00633b;
	--primary-900: #004227;
	--prism-foreground: inherit;
	--prism-background: #fbfbfb;
	--prism-class: #9807af;
	--prism-builtin: #9807af;
	--prism-function: #9807af;
	--prism-keyword: #096d7c;
	--prism-string: #679c0d;
	--prism-number: #679c0d;
	--prism-selector: #679c0d;
	--prism-boolean: #679c0d;
	--prism-property: #078ce5;
	--prism-punctuation: #078ce5;
	--prism-comment: #758575;
	--prism-literal: #429988;
	--prism-variable: inherit;
	--prism-constant: #9807af;
	--prism-deleted: #a14f55;
	--prism-namespace: #9807af;
	--prism-decorator: #9807af;
	--prism-regex: #679c0d;
	--prism-json-property: #078ce5;
	--prism-line-number: #888888;
	--prism-line-number-gutter: #eeeeee;
	--prism-line-highlight-background: #444444;
	--prism-selection-background: #444444;
	--logo-50: #f2f5f6;
	--logo-100: #e6ebec;
	--logo-200: #bfcdd0;
	--logo-300: #99aeb4;
	--logo-400: #4d727b;
	--logo-500: #003543;
	--logo-600: #00303c;
	--logo-700: #002028;
	--logo-800: #00181e;
	--logo-900: #001014;
}

html.dark {
	--prism-background: #1e1e1e;
	--prism-class: #e879f9;
	--prism-builtin: #e879f9;
	--prism-function: #e879f9;
	--prism-keyword: #22d3ee;
	--prism-string: #bef264;
	--prism-number: #bef264;
	--prism-selector: #bef264;
	--prism-boolean: #bef264;
	--prism-property: #e0f2fe;
	--prism-punctuation: #e0f2fe;
	--prism-comment: #a0ada0;
	--prism-literal: #2f8a89;
	--prism-constant: #e879f9;
	--prism-namespace: #e879f9;
	--prism-decorator: #e879f9;
	--prism-regex: #bef264;
	--prism-json-property: #22d3ee;
}

*, :after, :before {
	box-sizing: border-box;
	border: 0 solid #e4e4e7;
}

* {
	--tw-ring-inset: var(--tw-empty); /*!*/ /*!*/
	--tw-ring-offset-width: 0px;
	--tw-ring-offset-color: #fff;
	--tw-ring-color: rgba(14, 165, 233, 0.5);
	--tw-ring-offset-shadow: 0 0 transparent;
	--tw-ring-shadow: 0 0 transparent;
	--tw-shadow: 0 0 transparent;
	scrollbar-color: auto;
	scrollbar-width: auto;
}

:root {
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
}

:-moz-focusring {
	outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
	box-shadow: none;
}

::moz-focus-inner {
	border-style: none;
	padding: 0;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
	height: auto;
}

::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

[type='search'] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

abbr[title] {
	-webkit-text-decoration: underline dotted;
	text-decoration: underline dotted;
}

a {
	color: inherit;
	text-decoration: inherit;
}

body {
	line-height: inherit;
}

body, button, input {
	margin: 0;
	font-family: inherit;
}

button, input {
	font-size: 100%;
	line-height: 1.15;
	padding: 0;
	line-height: inherit;
	color: inherit;
}

button {
	text-transform: none;
	background-color: transparent;
	background-image: none;
}

[type='button'], [type='reset'], [type='submit'], button {
	-webkit-appearance: button;
}

button:focus {
	outline: 1px dotted;
	outline: 5px auto -webkit-focus-ring-color;
}

[role='button'], button {
	cursor: pointer;
}

code {
	font-size: 1em;
	font-family: DM Mono;
}

html {
	-webkit-text-size-adjust: 100%;
	font-family: DM Sans;
	line-height: 1.5;
}

hr {
	height: 0;
	color: inherit;
	border-top-width: 1px;
}

h1, h2, h3, h4, h5 {
	font-size: inherit;
	font-weight: inherit;
}

img {
	border-style: solid;
}

input::-moz-placeholder {
	opacity: 1;
	color: #a1a1aa;
}

input:-ms-input-placeholder {
	opacity: 1;
	color: #a1a1aa;
}

input::placeholder {
	opacity: 1;
	color: #a1a1aa;
}

input::webkit-input-placeholder {
	opacity: 1;
	color: #a1a1aa;
}

input::-moz-placeholder {
	opacity: 1;
	color: #a1a1aa;
}

input:-ms-input-placeholder {
	opacity: 1;
	color: #a1a1aa;
}

input::-ms-input-placeholder {
	opacity: 1;
	color: #a1a1aa;
}

img, video {
	max-width: 100%;
	height: auto;
}

blockquote, h1, h2, h3, h4, h5, hr, p {
	margin: 0;
}

strong {
	font-weight: bolder;
}

sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
	top: -0.5em;
}

canvas, iframe, img, svg, video {
	display: block;
	vertical-align: middle;
}

table {
	text-indent: 0;
	border-color: inherit;
	border-collapse: collapse;
}

ol, ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.scrollbar-thin {
	--scrollbar-track: initial;
	--scrollbar-thumb: initial;
	scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
	overflow: overlay;
	scrollbar-width: thin;
}

.scrollbar-thin::-webkit-scrollbar-track {
	background-color: var(--scrollbar-track);
}

.scrollbar-thin::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar-thumb);
}

.scrollbar-thin::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

.scrollbar-thumb-gray-200 {
	--scrollbar-thumb: #e4e4e7;
}

.dark .dark\:scrollbar-thumb-secondary-dark {
	--scrollbar-thumb: #255461;
}

.scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
	border-radius: 0.25rem;
}

.dark .dark\:scrollbar-thumb-gray-800 {
	--scrollbar-thumb: #27272a;
}

.scrollbar {
	--scrollbar-track: initial;
	--scrollbar-thumb: initial;
	scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
	overflow: overlay;
	scrollbar-width: auto;
}

.scrollbar::-webkit-scrollbar-track {
	background-color: var(--scrollbar-track);
}

.scrollbar::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar-thumb);
}

.scrollbar::-webkit-scrollbar {
	width: 16px;
	height: 16px;
}

.scrollbar-thumb-rounded-\32 xl::-webkit-scrollbar-thumb {
	border-radius: 1rem;
}

.scrollbar-thumb-rounded-\33 xl::-webkit-scrollbar-thumb {
	border-radius: 1.5rem;
}

.aspect-w-16 {
	--tw-aspect-w: 16;
	position: relative;
	padding-bottom: calc(var(--tw-aspect-h) / var(--tw-aspect-w) * 100%);
}

.aspect-w-16 > * {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.aspect-h-9 {
	--tw-aspect-h: 9;
}

.nuxt-text-highlight {
	--tw-bg-opacity: 1;
	background-color: rgba(244, 244, 245, var(--tw-bg-opacity));
	border-radius: 0.375rem;
	padding: 0.5rem 1rem;
}

.dark .nuxt-text-highlight {
	--tw-bg-opacity: 1;
	background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
	--tw-bg-opacity: 0.1;
}

.text-display-6 {
	font-size: 1.875rem;
	line-height: 2.25rem;
}

.text-display-5 {
	font-size: 2.25rem;
	line-height: 2.5rem;
}

.text-body-base {
	font-size: 1rem;
	line-height: 1.5rem;
}

.text-body-lg {
	font-size: 1.125rem;
	line-height: 1.75rem;
}

.d-body-bg {
	--tw-bg-opacity: 1;
	background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}

.dark .d-body-bg {
	--tw-bg-opacity: 1;
	background-color: rgba(0, 30, 38, var(--tw-bg-opacity));
}

.d-body-text-color {
	--tw-text-opacity: 1;
	color: rgba(0, 53, 67, var(--tw-text-opacity));
}

.dark .d-body-text-color {
	--tw-text-opacity: 1;
	color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.d-secondary-bg {
	--tw-bg-opacity: 1;
	background-color: rgba(113, 113, 122, var(--tw-bg-opacity));
}

.dark .d-secondary-bg {
	--tw-bg-opacity: 1;
	background-color: rgba(146, 173, 173, var(--tw-bg-opacity));
}

.d-secondary-text, .hover\:d-secondary-text:hover {
	--tw-text-opacity: 1;
	color: rgba(113, 113, 122, var(--tw-text-opacity));
}

.dark .d-secondary-text, .dark .hover\:d-secondary-text:hover {
	--tw-text-opacity: 1;
	color: rgba(146, 173, 173, var(--tw-text-opacity));
}

.d-secondary-text-hover, .hover\:d-secondary-text-hover:hover {
	--tw-text-opacity: 1;
	color: rgba(63, 63, 70, var(--tw-text-opacity));
}

.dark .d-secondary-text-hover, .dark .hover\:d-secondary-text-hover:hover {
	--tw-text-opacity: 1;
	color: rgba(209, 226, 226, var(--tw-text-opacity));
}

.d-tertiary-text {
	--tw-text-opacity: 1;
	color: rgba(161, 161, 170, var(--tw-text-opacity));
}

.dark .d-tertiary-text {
	--tw-text-opacity: 1;
	color: rgba(86, 107, 107, var(--tw-text-opacity));
}

.d-border-tertiary {
	--tw-border-opacity: 1;
	border-color: rgba(161, 161, 170, var(--tw-border-opacity));
}

.dark .d-border-tertiary {
	--tw-border-opacity: 1;
	border-color: rgba(113, 113, 122, var(--tw-border-opacity));
}

.d-primary-text-hover {
	--tw-text-opacity: 1;
	color: rgba(82, 82, 91, var(--tw-text-opacity));
}

.dark .d-primary-text-hover {
	--tw-text-opacity: 1;
	color: rgba(178, 204, 204, var(--tw-text-opacity));
}

.d-secondary-text-active {
	--tw-text-opacity: 1;
	color: rgba(24, 24, 27, var(--tw-text-opacity));
}

.dark .d-secondary-text-active {
	--tw-text-opacity: 1;
	color: rgba(230, 240, 240, var(--tw-text-opacity));
}

.d-prose-code-inline-bg {
	--tw-bg-opacity: 1;
	background-color: rgba(244, 244, 245, var(--tw-bg-opacity));
}

.dark .d-prose-code-inline-bg {
	--tw-bg-opacity: 1;
	background-color: rgba(1, 42, 53, var(--tw-bg-opacity));
}

.d-prose-code-bg {
	--tw-bg-opacity: 1;
	background-color: rgba(244, 244, 245, var(--tw-bg-opacity));
}

.dark .d-prose-code-bg {
	--tw-bg-opacity: 1;
	background-color: rgba(1, 42, 53, var(--tw-bg-opacity));
}

.d-prose-thead-border {
	--tw-border-opacity: 1;
	border-color: rgba(228, 228, 231, var(--tw-border-opacity));
	border-bottom-width: 1px;
}

.dark .d-prose-thead-border {
	--tw-border-opacity: 1;
	border-color: rgba(37, 84, 97, var(--tw-border-opacity));
}

.d-prose-tr-border {
	--tw-border-opacity: 1;
	border-color: rgba(244, 244, 245, var(--tw-border-opacity));
	border-bottom-width: 1px;
}

.dark .d-prose-tr-border {
	--tw-border-opacity: 1;
	border-color: rgba(0, 53, 67, var(--tw-border-opacity));
}

.d-prose-blockquote-border {
	--tw-border-opacity: 1;
	border-color: rgba(228, 228, 231, var(--tw-border-opacity));
	border-left-width: 2px;
}

.dark .d-prose-blockquote-border {
	--tw-border-opacity: 1;
	border-color: rgba(0, 53, 67, var(--tw-border-opacity));
}

.d-prose-blockquote-text {
	--tw-text-opacity: 1;
	color: rgba(113, 113, 122, var(--tw-text-opacity));
}

.dark .d-prose-blockquote-text {
	--tw-text-opacity: 1;
	color: rgba(146, 173, 173, var(--tw-text-opacity));
}

.d-prose-a-text {
	color: var(--primary-500);
}

.d-prose-a-border {
	border-color: transparent;
	border-bottom-width: 1px;
}

.d-prose-a-border-hover {
	border-color: var(--primary-500);
	border-bottom-width: 1px;
}

.d-prose-a-headline-border {
	--tw-border-opacity: 1;
	border-color: rgba(24, 24, 27, var(--tw-border-opacity));
	border-bottom: 1px rgba(24, 24, 27, var(--tw-border-opacity));
	border-style: dashed;
}

.dark .d-prose-a-headline-border {
	--tw-border-opacity: 1;
	border-color: rgba(244, 244, 245, var(--tw-border-opacity));
}

.d-text-primary, .hover\:d-text-primary:hover {
	color: var(--primary-500);
}

.dark .d-text-primary, .dark .hover\:d-text-primary:hover {
	color: var(--primary-400);
}

.d-border-primary {
	border-color: var(--primary-500);
}

.dark .d-border-primary {
	border-color: var(--primary-400);
}

.d-bg-primary {
	background-color: var(--primary-500);
}

.dark .d-bg-primary {
	background-color: var(--primary-400);
}